{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Register</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->

</head>
<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Hisob ochish</h5>
                  </div>

                  <form method="POST" class="row g-3 needs-validation">
                    {% csrf_token %}
                    {% if messages %}
                    <div class="alert alert-block alert-danger">
                        <ul class="m-0">
                             {% for message in messages  %}
                               <li>{{message}}</li>
                             {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <div class="col-12">
                      <label for="id_username" class="form-label">Login :</label>
                      <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                        <input type="text" name="username" class="form-control" maxlength="150" required="" id="id_username">
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="id_password1" class="form-label">Parol :</label>
                      <input type="password" name="password1" class="form-control" required="" id="id_password1">
                    </div>

                    <div class="col-12">
                      <label for="id_password2" class="form-label">Parolni tasdiqlang :</label>
                      <input type="password" name="password2" class="form-control" required="" id="id_password2">
                    </div>

                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Ro'yxatdan o'tish</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0"> Hisobingiz bormi? <a href="{% url 'login' %}">Log in</a></p>
                    </div>
                  </form>

                </div>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

</body>
</html>