{% extends 'base.html' %}
{% block content %}
 <main id="main" class="main">

    <section class="section mt-3">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Maxsulot qo'shish</h5>

              <!-- Horizontal Form -->

              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="row mb-3">
                      <label for="id_category" class="col-sm-2 col-form-label">Rol:</label>
                   <div class="col-sm-10">
                      <select name="category" id="id_category" class="form-select">
                        <option selected="">? ? ? ? ?</option>
                        {% for i in category %}
                        <option value="{{i.id}}">{{i.nomi}}</option>
                        {% endfor %}
                      </select>
                   </div>
                </div>

                <div class="row mb-3">
                  <label for="id_nomi" class="col-sm-2 col-form-label">Nomi</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="nomi" id="id_nomi">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="id_narxi" class="col-sm-2 col-form-label">Narxi</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="narxi" value="0" id="id_narxi">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="id_image" class="col-sm-2 col-form-label">Image</label>
                  <div class="col-sm-10">
                    <input class="form-control" type="file" name="image" accept="image/*" id="id_image">
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Qo'shish</button>
                </div>
              </form><!-- End Horizontal Form -->

            </div>
          </div>
    </section>

  </main>

{% endblock content %}