{% extends 'base3.html' %}
{% block content %}
 <main id="main" class="main">

    <section class="section dashboard mt-3" >
      <div class="row">

        <div class="col-lg-12">
          <div class="row">

            <div class="col-12">
              <div class="card top-selling overflow-auto">
                <div class="card-body ">
                  <div class="row">
                    <h5 class="card-title col-6">Buyurtmalar <span>| {{ zakas.count }} ta </span></h5>
                    <p class="card-title text-end col-6"><a class="btn btn-primary" href="{% url 'tozalash' stol.id %}">Tozalash </a></p>
                  </div>
                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Image</th>
                        <th scope="col">Nomi</th>
                        <th scope="col">Soni</th>
                        <th scope="col">Narxi</th>
                        <th scope="col">Jami</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for i in zakas %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <th scope="row"><a><img src="{{ i.product.image.url }}" width="80" height="60" alt=""></a></th>
                        <td><a class="text-primary fw-bold">{{ i.product.nomi }}</a></td>
                        <td class="fw-bold">{{ i.soni }} ta </td>
                        <td class="fw-bold">{{ i.product.narxi }} So'm</td>
                        <td class="fw-bold">{{ i.sum }} so'm</td>
                      </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <th></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="fw-bold">{{ jami_sum }} So'm</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div><!-- End Top Selling -->

                  </div>
              </div>

            </div>
         </div>
    </section>

  </main>

{% endblock content %}